In [1]:
import pandas as pd

In [5]:
url_2010 = 'https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_2010'
url_2011 = 'https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_2011'
url_2012 = 'https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_2012'
url_2013 = 'https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_2013'
url_2014 = 'https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_2014'
url_2015 = 'https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_2015'
url_2016 = 'https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_2016'
url_2017 = 'https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_2017'
url_2018 = 'https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_2018'
url_2019 = 'https://en.wikipedia.org/wiki/Billboard_Year-End_Hot_100_singles_of_2019'

In [6]:
table_2010 = pd.read_html(url_2010)
table_2010

[    No.                               Title                        Artist(s)
 0     1                           "Tik Tok"                            Kesha
 1     2                      "Need You Now"                  Lady Antebellum
 2     3                  "Hey, Soul Sister"                            Train
 3     4                  "California Gurls"  Katy Perry featuring Snoop Dogg
 4     5                               "OMG"        Usher featuring will.i.am
 ..  ...                                 ...                              ...
 95   96                    "Life After You"                         Daughtry
 96   97                             "Smile"                    Uncle Kracker
 97   98            "Teach Me How to Dougie"               Cali Swag District
 98   99  "Try Sleeping with a Broken Heart"                      Alicia Keys
 99  100                      "Lover, Lover"                   Jerrod Niemann

 [100 rows x 3 columns],
   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteBillboard Year-End Hot 100 singles  \
 0                                          1940–1949
 1                                          1950–1969
 2                                          1970–1989
 3                                          1990–2009
 4                                       2010–present

   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteBillboard Year-End Hot 100 singles.1
 0                                1946 1947 1948 1949
 1  1950 1951 1952 1953 1954 1955 1956 1957 1958 1...
 2  1970 1971 1972 1973 1974 1975 1976 1977 1978 1...
 3  1990 1991 1992 1993 1994 1995 1996 1997 1998 1...
 4  2010 2011 2012 2013 2014 2015 2016 2017 2018 2...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            ]

In [8]:
df_2010 = table_2010[0]
df_2010.head()

   No.               Title                        Artist(s)
0    1           "Tik Tok"                            Kesha
1    2      "Need You Now"                  Lady Antebellum
2    3  "Hey, Soul Sister"                            Train
3    4  "California Gurls"  Katy Perry featuring Snoop Dogg
4    5               "OMG"        Usher featuring will.i.am